<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Pedidos</title>
</head>
<body>
    <h1>Registro de Pedidos</h1>
    <form action="/agregar_pedido" method="post">
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre"><br>

        <label for="numero">Número:</label><br>
        <input type="text" id="numero" name="numero"><br>

        <label for="cuenta">Cuenta:</label><br>
        <input type="text" id="cuenta" name="cuenta"><br>

        <label for="correo">Correo Electrónico:</label><br>
        <input type="text" id="correo" name="correo"><br>

        <label for="monto">Monto:</label><br>
        <input type="text" id="monto" name="monto"><br>

        <label for="fecha">Fecha:</label><br>
        <input type="text" id="fecha" name="fecha"><br>

        <label for="referido">Referido:</label><br>
        <input type="text" id="referido" name="referido"><br>

        <input type="submit" value="Enviar Pedido">
    </form>
</body>
</html>
