<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Agregar el favicon -->
  <link rel="icon" href="https://cdn.discordapp.com/attachments/1013896772638224584/1165548381293264966/Plus_1.png?ex=65474084&is=6534cb84&hm=e191203114a8a02fb89d3c53f76f3e82d170accaf2639f13f32723e10b6619c4&" type="image/x-icon">
  <script>
      // Verificar si se ha ingresado la contraseña recientemente (dentro de los últimos 5 minutos)
      var lastAccess = getCookie("lastAccess"); // Obtener el valor de la cookie "lastAccess"
      var currentTime = new Date().getTime(); // Obtener la hora actual en milisegundos

      if (!lastAccess || currentTime - lastAccess > 24 * 60 * 60 * 1000) {
          // Si no hay cookie o ha pasado más de 5 minutos, solicitar la contraseña
          var getin = prompt("Contraseña: ");
          if (getin === "2705") {
              // Establecer una cookie para registrar el último acceso
              document.cookie = "lastAccess=" + currentTime + "; expires=" + new Date(currentTime + 24 * 60 *60 * 1000).toUTCString();
          } else {
              location.href = '/error'; // Redirigir a la página de error
          }
      }

      function getCookie(name) {
          var cookieName = name + "=";
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i];
              while (cookie.charAt(0) === ' ') {
                  cookie = cookie.substring(1);
              }
              if (cookie.indexOf(cookieName) === 0) {
                  return parseInt(cookie.substring(cookieName.length, cookie.length));
              }
          }
          return null;
      }
    // Función de búsqueda
        function buscar() {
            var input = document.getElementById("busquedaInput");
            var filtro = input.value.toLowerCase();

            var filas = document.querySelectorAll('tr');

            for (var i = 0; i < filas.length; i++) {
                var celdas = filas[i].querySelectorAll('td');
                var mostrarFila = false;

                for (var j = 0; j < celdas.length; j++) {
                    var contenido = celdas[j].innerText.toLowerCase();
                    if (contenido.includes(filtro)) {
                        mostrarFila = true;
                        break;
                    }
                }

                if (mostrarFila) {
                    filas[i].style.display = "";
                } else {
                    filas[i].style.display = "none";
                }
            }
        }
  </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registro de Ventas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="contenedor">
      <iframe src="https://drive.google.com/file/d/1xG_Mnk1gSuVncD2vfgL7XNAIk6SAfRnW/preview" width="380" height="180" allow="autoplay"></iframe>
    </div>
    <h1>Registro de Ventas</h1>
    <div>
        <h2>Total del mes = {{ total_mes }} Lempiras</h2>
    </div>
    <div>
        <h2>Ganado en todo el periodo = {{ total_ingresos }} Lempiras</h2>
    </div>
    <div>
        <h2 class="pagosp">Pagos Pendientes = <span class="p"> {{ total_pendientes }} </span> </h2>
    </div>
    <button class="agg" type="button" onclick="mostrarFormularioAgregar()">Agregar Nueva Venta</button>

    <div id="formularioAgregar" style="display: none;">
        <h2>Agregar Nueva Venta</h2>
        <form action="/agregar" method="post">
            <input type="text" name="nombre_nuevo" placeholder="Nuevo Nombre" required>
            <input type="text" name="numero_nuevo" placeholder="Nuevo Numero" required>
            <input type="number" name="cuenta_nuevo" placeholder="Nueva Cuenta" required>
            <input type="text" name="correo_nuevo" placeholder "Nuevo Correo" required>
            <input type="text" name="monto_nuevo" placeholder="Nuevo Monto" required>
            <input type="datetime" name="fecha_nuevo" placeholder="Nueva Fecha" required>
            <select name="estado_pago_nuevo" required>
                <option value="pendiente">Pendiente</option>
                <option value="pagado">Pagado</option>
            </select>
            <input type="text" name="referido_nuevo" placeholder="Referido" required>
            <button type="submit" name="accion" value="agregar">Agregar</button>
        </form>
    </div>
  <div class="buscar">
      <input type="text" id="busquedaInput" placeholder="Ingrese los datos de búsqueda">
      <button onclick="buscar()">Buscar</button>
  </div>
    <table id="tablaVentas">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Numero</th>
            <th>Cuenta</th>
            <th>Correo de Cuenta</th>
            <th>Monto</th>
            <th>Fecha</th>
            <th>Estado de Pago</th>
            <th>Referido</th>
            <th>Acción</th>
        </tr>
        {% for venta in ventas %}
            <tr>
                <td>{{ venta[0] }}</td>
                <td>{{ venta[1] }}</td>
                <td>{{ venta[2] }}</td>
                <td>{{ venta[3] }}</td>
                <td>{{ venta[4] }}</td>
                <td>{{ venta[5] }}</td>
                <td>{{ venta[6] }}</td>
                <td class="{{ 'pendiente' if venta[7] == 'Pendiente' else 'pagado' }}">{{ venta[7] }}</td>
                <td>{{ venta[8] }}</td>
                <td>
                    <button class="editar" onclick="editarFila(this)">Editar</button>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div></div><h1>By Allan Hernandez</h1>

    <script>
        var editable = false;

        function editarFila(button) {
            if (editable) {
                // Cambiar el botón a "Editar" en el modo de guardado
                button.innerText = "Editar";

                // Identificar la fila actual
                var fila = button.parentNode.parentNode;

                // Obtener los elementos de la fila
                var elementos = fila.querySelectorAll('td');
                var id = elementos[0].innerText;  // Supongamos que la primera celda contiene el ID
                var nombre = elementos[1].innerText;  // Supongamos que la segunda celda contiene el nombre
                var numero = elementos[2].innerText;  // Supongamos que la tercera celda contiene el número
                var cuenta = elementos[3].innerText;  // Supongamos que la cuarta celda contiene la cuenta
                var correo = elementos[4].innerText;  // Supongamos que la quinta celda contiene el correo
                var monto = elementos[5].innerText;  // Supongamos que la sexta celda contiene el monto
                var fecha = elementos[6].innerText;  // Supongamos que la séptima celda contiene la fecha
                var estado_pago = elementos[7].innerText;
                var referido = elementos[8].innerText;

                // Realizar una solicitud AJAX para actualizar la información en la base de datos
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/editar_venta", true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        // Hacer algo si es necesario, por ejemplo, recargar la página
                        location.reload(); // Esto recargará la página
                    }
                };

                // Supongamos que el formulario en Python espera datos en este formato
                var data = "id=" + id + "&nombre=" + nombre + "&numero=" + numero + "&cuenta=" + cuenta + "&correo=" + correo + "&monto=" + monto + "&fecha=" + fecha + "&estado_pago=" + estado_pago + "&referido=" + referido;

                xhr.send(data);
            } else {
                // Cambiar el botón a "Guardar" en el modo de edición
                button.innerText = "Guardar";
            }
            editable = !editable;
            actualizarVista();
        }

        function actualizarVista() {
            var filas = document.querySelectorAll('tr');
            filas.forEach(function (fila, index) {
                if (index === 0) return; // Saltar la fila de encabezado
                var elementos = fila.querySelectorAll('td');
                elementos.forEach(function (elemento) {
                    elemento.contentEditable = editable;
                });
            });
        }

        function mostrarFormularioAgregar() {
            var formularioAgregar = document.getElementById('formularioAgregar');
            formularioAgregar.style.display = 'block';
        }
    </script>

  <script>
      // Función para agregar nuevos registros a la tabla HTML
      function agregarNuevosRegistros(nuevosRegistros) {
          var tabla = document.getElementById("tablaVentas");
          nuevosRegistros.forEach(function(registro) {
              var fila = tabla.insertRow(-1); // Insertar una nueva fila al final de la tabla
              fila.innerHTML = "<td>" + registro.id + "</td>" +
                               "<td>" + registro.nombre + "</td>" +
                               "<td>" + registro.numero + "</td>" +
                               "<td>" + registro.cuenta + "</td>" +
                               "<td>" + registro.correo_cuenta + "</td>" +
                               "<td>" + registro.monto + "</td>" +
                               "<td>" + registro.fecha + "</td>" +
                               "<td>" + registro.estado_pago + "</td>" +
                               "<td>" + registro.referido + "</td>" +
                               "<td><button class='editar' onclick='editarFila(this)'>Editar</button></td>";
          });
      }

      // Actualizar la tabla con nuevos registros cada 5 segundos
      setInterval(function() {
          // Realizar una solicitud AJAX para obtener los nuevos registros
          var xhr = new XMLHttpRequest();
          xhr.open("GET", "/", true);
          xhr.onreadystatechange = function() {
              if (xhr.readyState == 4 && xhr.status == 200) {
                  var nuevosRegistros = JSON.parse(xhr.responseText);
                  agregarNuevosRegistros(nuevosRegistros);
              }
          };
          xhr.send();
      }, 5000); // Actualizar cada 5 segundos
  </script>

</body>
</html>
