<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Cliente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% extends "base.html" %}
    {% block title %}Inicio - Administracion de StreamPlus{% endblock %}

    {% block content %}
    <h1>Agregar Cliente</h1>
    <form method="POST">
        <label>ID: {{ next_id }}</label><br>
        <label>Nombre:</label>
        <input type="text" name="nombre" required><br>
        <label>Número:</label>
        <input type="text" name="numero" required><br>
        <button type="submit">Guardar</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% endblock %}
</body>
</html>
