<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Ventas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% extends "base.html" %}
    {% block title %}Inicio - Administracion de StreamPlus{% endblock %}

    {% block content %}
    <div class="header">
        <h1>Ver Ventas</h1>
    </div>
    <div class="container">
    <form method="POST">
        <input type="text" name="search" placeholder="Buscar...">
        <button type="submit">Buscar</button>
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Tipo de Cuenta</th>
            <th>Cuenta Disponible</th>
            <th>Fecha de Activación</th>
            <th>Días</th>
            <th>Fecha de Expiración</th>
            <th>Monto</th>
            <th>Inversión</th>
            <th>Ganancia</th>
        </tr>
        {% for venta in ventas %}
        <tr>
            <td>{{ venta[0] }}</td>
            <td>{{ venta[1] }}</td>
            <td>{{ venta[2] }}</td>
            <td>{{ venta[3] }}</td>
            <td>{{ venta[4] }}</td>
            <td>{{ venta[5] }}</td>
            <td>{{ venta[6] }}</td>
            <td>{{ venta[7] }}</td>
            <td>{{ venta[8] }}</td>
            <td>{{ venta[9] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('index') }}">Volver</a>
    </div>
    <div class="footer">
        &copy; 2024 StreamPlus. Todos los derechos reservados.
</div>
    {% endblock %}
</body>
</html>
